.chat-page {
    display: flex;
    width: 90%;
    height: 90vh;
}

.chat-list {
    width: 20%;
    background-color: white;
}

.bg_grey {
    background-color: rgb(226, 223, 223) !important;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.settings {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.chat-list-item {
    display: flex !important;
    justify-content: space-between;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    background-image: linear-gradient(to right bottom, rgba(255, 233, 161, 0.507), rgba(241, 213, 117, 0.507));
}

.chat__info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 8px 16px;
}

.dialogue {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.my-message {
    align-self: flex-end;
    background-color: rgba(139, 238, 139, 0.884) !important;
}

.answer {
    margin: 5px;
}

.selected {
    cursor: pointer;
}

.selected:hover {
    box-shadow: 1px 1px 15px -3px grey;
    border-radius: 15px;
}

.toast-header .btn-close {
    display: none;
}